.drop-down {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--Neutral0);
    background-color: var(--Neutral800);
    padding: 10px 15px;
    border-radius: 10px;
    font-family: var(--DM);
    font-size: 16px;

}

.drop-down:hover {
    cursor: pointer;
    background-color: var(--Neutral700);
    transition: all 0.2s ease-in-out;
}

.drop-down:focus {
    outline: 2px solid var(--Neutral0);
    outline-offset: 3px;
}

.switch-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 5px 3px;
    border-radius: 4px;
    font-family: var(--DM);
    font-size: 16px;
    cursor: pointer;
    background-color: var(--Neutral800);
    color: var(--Neutral0);
}

.switch-button:hover {
    background-color: var(--Neutral700);
}

.switch-button:focus {
    outline: 2px solid var(--Neutral0);
    outline-offset: 3px;
}

.search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 60px;
    width: 680px;
}

.search-input {
    padding: 10px 50px;
    width: 530px;
    background-color: var(--Neutral700);
    border: none;
    border-radius: 12px;
    height: 56px;
    text-indent: 10px;
    color: var(--Neutral0)
}

.search-input:hover {
    cursor: pointer;
    background-color: var(--Neutral800);
}

.search-input:focus {
    outline: 1.5px solid 'white';
    outline-offset: 2px;
}


.search-input::placeholder {
    font-family: var(--DM);
    font-size: 20px;
    color: var(--Neutral200);
    font-weight: 500;
    text-indent: 16px;
}


.search-icon {
    position: absolute;
    top: 18px;
    left: 38px;
}

.search-button {
    font-family: var(--DM);
    font-weight: 900;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--Blue500);
    color: var(--Neutral200);
    font-size: 20px;
    letter-spacing: 0.4px;
}

.search-button:focus {
    outline: 2px solid var(--Blue500);
    outline-offset: 3px;
}

.active:hover, .search-button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    background-color: var(--Blue700);
    cursor: pointer;
}

.active:active, .search-button:active {
    transform: scale(0.95);
    transition: none;
    opacity: 0.8;
}

.results-container {
    position: absolute;
    left: 8px;
    top: calc(100% + 10px);
    background-color: var(--Neutral800);
    width: 525px;
    border-radius: 12px;
    font-size: 16px;
    font-family: var(--DM);
    letter-spacing: 0.5px;
    padding: 6px;
}


.results-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--DM);
    background-color: var(--Neutral800);
    width: 100%;
    border-radius: 6px;
    padding: 8px 14px;
    margin-top: 2px;
    border: 0.5px solid transparent;
    color: var(--Neutral200);
}

.results-cell:hover {
    border: 0.5px solid var(--Neutral600);
    background-color: var(--Neutral700);
}

.units-dropdown-div {
    position: relative;
}

.units-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12px;
    position: absolute;
    right: 0;
    background-color: var(--Neutral800);
    border-radius: 12px;
    width: 215px;
    height: auto;
    padding: 10px 14px;
    ;
}

.units-menu>h3 {
    font-family: var(--DM);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.1px;

}



.inpt-group>h4 {
    font-family: var(--DM);
    font-weight: 200;
    font-size: 14px;
    color: var(--Neutral300);
    letter-spacing: 1px;
}

input[type="radio"] {
    display: none;
    border: none;

}

label {
    font-size: 16px;
}

label::after {
    content: '';
    position: absolute;
    transform: translateY(25%);
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
}

input[type="radio"]:checked+label::after {
    background: transparent;
    background-image: url('../assets/images/icon-checkmark.svg');
    background-size: 14px;
    background-repeat: no-repeat;
}

.inpt-div:has(input[type="radio"]:checked) {
    position: relative;
    background-color: var(--Neutral700);

}

.inpt-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 190px;
    font-family: var(--DM);
    font-size: 18px;
    position: relative;
    border-radius: 8px;
    padding: 8px 2px;
    margin: 12px auto 0px auto;
}

.hr {
    width: 100%;
    border: 1px solid var(--Neutral700);
    height: 0.5px;

}

.inpt-group {
    margin-top: 16px;
}

@media screen and (max-width: 1250px) {
    .search-input {
        width: 100%;
    }

    .search-icon {
        position: absolute;
        top: 18px;
        left: 28px;
    }

    .results-container {
        position: absolute;
        left: 38px;
        top: calc(100% + 10px);
        background-color: var(--Neutral800);
        width: 475px;
        border-radius: 12px;
        font-size: 16px;
        font-family: var(--DM);
        letter-spacing: 0.5px;
        padding: 6px;
    }

    .units-dropdown-div {
        position: relative;
        z-index: 2;
    }

    .search-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 80%;

    }

}

@media screen and (max-width: 615px) {
    .drop-down>img {
        width: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .drop-down {
        width: 90px;
        height: 36px;
        font-size: 16px;
        border-radius: 8px;
        gap: 4px;
        z-index: 2;
        margin-top: 2px;
    }

    .search-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        margin-top: 50px;
    }

    .search-button {
        width: 100%;
        margin-top: 2px;
        padding: 16px 24px;
    }

    .search-button:focus {
        transform: scale(1);
    }

    .search-icon {
        position: absolute;
        top: 18px;
        left: 38px;
    }

    .search-input {
        padding: 10px 50px;
        background-color: var(--Neutral700);
        border: none;
        border-radius: 12px;
        height: 56px;
        text-indent: 10px;
        color: var(--Neutral0)
    }

    .search-input::placeholder {
        text-indent: 10px
    }

    .results-container {
        position: absolute;
        width: 345px;
        left: 15px;
        top: calc(45% + 10px);
        background-color: var(--Neutral800);
        border-radius: 12px;
        font-size: 16px;
        font-family: var(--DM);
        letter-spacing: 0.5px;
        padding: 6px;
    }





}